@import '../Variables/Variables.scss';

.homepage {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    .homepage__info {
        display: flex;
        width: 90vw;
        flex-direction: column;
        justify-content: center;

        .homepage__info__title, .homepage__info__name, .homepage__info__position {
            color: white;
            margin: 0;
        }
    
        .homepage__info__title {
            font-size: $twenty;  
            font-family: $description;
        }
    
        .homepage__info__name {
            font-size: 5rem;
            color: #1e90ff;
            font-family: $title;
            margin: 2rem 0 1.5rem 0;
            letter-spacing: $letter-spacing;
        }
    
        .homepage__info__position {
            font-size: $twenty-two;
            font-family: $description;
            line-height: 3.5rem;
        }
    }

    .homepage__image {
        margin-top: 6rem;
        width: 100%;

        .homepage__image__svg {
            height: 14rem;
            width: auto;
        }
    }

}

// Media query for tablet
@media screen and (min-width: 768px) {
    .homepage {

        .homepage__info {

            .homepage__info__position {
                width: 90%;
            }
        }
    }
}

// Media query for desktop
@media screen and (min-width: 1024px) {
    .homepage {
        display: flex;
        width: 80vw;
        height: 100vh;
        justify-content: center;
        flex-direction: row;
        align-items: center;

        .homepage__info {
            width: 50%;

            .homepage__info__title {
                font-size: $eighteen;
            }

            .homepage__info__name {
                font-size: $forty-five;
            }

            .homepage__info__position {
                font-size: $twenty;
            }
        }

        .homepage__image {
            width: 50%;
            margin: 0;
            display: flex;
            justify-content: center;

            .homepage__image__svg {
                height: 20rem;
            }
        }
    }
}

@media screen and (min-width: 1044px) {
    .homepage {
        width: 75vw;

        .homepage__image {

            .homepage__image__svg {
                height: 22rem;
            }
        }
    }
}