@import '../Variables/Variables.scss';

.homepage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 70%;
    margin-left: 2rem;

    .homepage__title, .homepage__name, .homepage__position {
        color: white;
        margin: 0;
    }

    .homepage__title {
        font-size: 6rem;
    }

    .homepage__name {
        font-size: 5rem;
    }

    .homepage__position {
        font-size: 3rem;
    }
}

// Media Query
@media screen and (min-width: 768px) {
    .homepage {
        height: 75%;
        margin-left: 6rem;
    }
}

@media screen and (min-width: 1044px) {
    .homepage {
        margin-left: 8rem;

        .homepage__title {
            font-size: 7rem;
        }

        .homepage__name {
            font-size: 6rem;
        }

        .homepage__position {
            font-size: 4rem;
        }
    }
}