@import '../Variables/Variables.scss';

.homepage {
    display: flex;
    height: 100vh;
    justify-content: center;

    .homepage__info {
        height: 100%;
        display: flex;
        width: 90vw;
        flex-direction: column;
        justify-content: center;

        .homepage__info__title, .homepage__info__name, .homepage__info__position {
            color: white;
            margin: 0;
        }
    
        .homepage__info__title {
            font-size: $twenty;  
            font-family: $description;
        }
    
        .homepage__info__name {
            font-size: 5rem;
            color: dodgerblue;
            font-family: $title;
            margin: 2rem 0 1.5rem 0;
            letter-spacing: $letter-spacing;
        }
    
        .homepage__info__position {
            font-size: $twenty-two;
            font-family: $description;
            line-height: 3.5rem;
        }
    }

}

// Media Query
@media screen and (min-width: 768px) {
    .homepage {
        margin-left: 6rem;
    }
}

@media screen and (min-width: 1044px) {
    .homepage {
        margin-left: 8rem;

        .homepage__info {

            .homepage__info__title {
                font-size: 7rem;
            }
    
            .homepage__info__name {
                font-size: 6rem;
            }
    
            .homepage__info__position {
                font-size: 4rem;
            }
        }
    }
}