@import '../Variables/Variables.scss';

.project {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .project__title {
        font-size: $h2-font;
        color: $white;
    }

    .project__grid {

        .project__grid__beer {
            display: flex;
            flex-direction: column;
            align-items: center;

            .project__grid__beer-title {
                color: $white;
                font-size: $h3-font;
            }

            .project__grid__beer-image {
                height: 18rem;
                border-radius: 1rem;
            }
    
            .project__grid__beer-code {
                background: $black;
                color: $white;
                margin-top: 1rem;
                border: none;
                outline: none;
            }
        }

    }
}

@media screen and (min-width: 1440px) {
    .project {

        .project__title {
            font-size: $title-font;
        }

        .project__grid {

            .project__grid__beer {


                .project__grid__beer-title {
                    font-size: $description-font;
                }

                .project__grid__beer-image {
                    height: 28rem;
                }

                .project__grid__beer-code {
                    font-size: $medium-font;
                }
            }
        }
    }
}