@import '../ProjectVariable/ProjectVariable.scss';

.project {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .project__title-container {
        width: 80vw;

        .project__title-container__title {
            font-size: $h2-font;
            color: $white;
            width: 13rem;
            padding-bottom: 0.4rem;
            border-bottom: 2px solid dodgerblue;
        }
    }
}

// Media Query
@media screen and (min-width: 1440px) {
    .project {

        .project__title {
            font-size: $title-font;
        }

        .project__grid {

            .project__grid__beer {


                .project__grid__beer-title {
                    font-size: $description-font;
                }

                .project__grid__beer-image {
                    height: 28rem;
                }

                .project__grid__beer-code {
                    font-size: $medium-font;
                }
            }
        }
    }
}