@import '../Variables/Variables.scss';

.menu-background {
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.935);
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;

    .menu__icon-container {
        display: flex;
        justify-content: flex-end;
        margin: 1rem 2rem 0rem 0rem;

        .menu__icon-container__icon {
            color: white;
            font-size: 3rem;
        }
    }

    .menu__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;

        .menu__list {
            list-style-type: none;
            margin-right: 2rem;

            .menu__list__item {
                padding: 3rem;
                font-size: $medium-font;
                font-family: $title;
                letter-spacing: $letter-spacing;
                
                .menu__list__item__link {
                    text-decoration: none;
                    color: $white;
                }
            }
    
        }
    }
}

// Media Query
@media screen and (min-width: 1024px) {
    .menu-background {
        background-color: transparent;
        transform: translateY(0) !important;
        height: auto;
        position: static;
        width: auto;

        .menu__icon-container__icon {
            display: none;
        }

        .menu__container {

            .menu__list {
                display: flex;
                margin-right: 0rem;

                .menu__list__item {
                    opacity: 1 !important;
                    padding: 0rem 0rem 0rem 3rem;
                }
            }
        }
    }
}