@import '../Variables/Variables.scss';

.skills {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .skills__title-container {
        width: 80vw;

        .skills__title-container__title {
            color: $white;
            font-size: $h2-font;
            padding-bottom: 0.4rem;
            border-bottom: 2px solid dodgerblue;
            width: 9rem;
            font-family: $title;
        }
    }

    .skills__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        column-gap: 6rem;
        row-gap: 3rem;
        margin-top: 3rem;

        .skills__grid-icon {
            height: 6rem;
        }
    }
}

// Media Query for tablet
@media screen and (min-width: 768px) {
    .skills {

        .skills__title {
            margin-bottom: 8rem;
        }

        .skills__grid {
            column-gap: 20rem;
            width: 80vw;
        }
    }
}

@media screen and (min-width: 1024px) {
    .skills {

        .skills__grid {
            margin-top: 6rem;
        }
    }
}

@media screen and (min-width: 1440px) {
    .skills {

        .skills__title {
            font-size: $title-font;
        }

        .skills__grid {
            column-gap: 36rem;
            row-gap: 8rem;

            .skills__grid-icon {
                height: 8rem;
            }
        }
    }
}