@import '../Variables/Variables.scss';

.skills {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .skills__title-container {
        width: 80vw;
        margin-bottom: 3rem;

        .skills__title-container__title {
            color: $white;
            font-size: $thirty;
            width: 9rem;
            font-family: $title;
            letter-spacing: $letter-spacing;
        }
    }

    .skills__cards {


        .skills__group {
            width: 80vw;
    
            .skills__group__card {
                border-radius: 1rem;
                display: flex;
                margin: 2rem 0rem;
                padding: 1rem;
                flex-direction: column;
                border: 1px solid #07f985;
                height: 26rem;
                justify-content: center;
    
                .skills__group__card__icon {
    
                    .skills__group__card__icon__svg {
                        height: 7rem;
                        width: auto;
                    }
                }
    
                .skills__group__card__title {
                    color: $white;
                    font-size: $twenty;
                    font-family: $title;
                    letter-spacing: 0.1rem;
                    margin: 3rem 0 1rem 0;
                }
    
                .skills__group__card__description {
                    color: $white;
                    font-size: $sixteen;
                    font-family: $description;
                    line-height: $twenty-six;
                }
            }
    
            .skills__groud__card-blue {
                border: 1px solid #1f51ff;
            }
        }
    }

}

// Media Query for tablet
@media screen and (min-width: 768px) {
    .skills {
        height: 75vh;

        .skills__title-container {
            width: 90vw;

            .skills__title-container__title {
                font-size: $forty;
            }
        }

        .skills__cards {
            display: flex;
            width: 90vw;
            gap: 2rem;

            .skills__group {
                width: 50%;

                .skills__group__card {

                    .skills__group__card__title {
                        font-size: $twenty-two;
                    }
                }
            }
        }
    }
}