@import "../Variables/Variables.scss";

.skills {
  height: 100vh;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .skills__title-container {
    width: 80vw;
    margin-bottom: 6rem;

    .skills__title-container__title {
      color: $white;
      font-size: $thirty;
      width: 9rem;
      font-family: $title;
      letter-spacing: $letter-spacing;
    }
  }

  .skills__cards {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4rem;

    .skills__cards__card {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.8rem;
      font-size: 2rem;

      .skills__cards__card__title {
        letter-spacing: 0.2rem;
        font-family: $description;
      }

      .skills__cards__card__tailwind {
        color: #0ea5e9;
        font-size: 3rem;
      }

      .skills__cards__card__javascript {
        color: yellow;
        font-size: 3rem;
      }

      .skills__cards__card__html {
        color: #e34c26;
        font-size: 3rem;
      }

      .skills__cards__card__css {
        color: #2965f1;
        font-size: 3rem;
      }

      .skills__cards__card__sass {
        color: #c69;
        font-size: 3rem;
      }

      .skills__cards__card__react {
        color: #61dbfb;
        font-size: 3rem;
      }

      .skills__cards__card__git {
        color: #f1502f;
        font-size: 3rem;
      }

      .skills__cards__card__github {
        color: #6e5494;
        font-size: 3rem;
      }

      .skills__cards__card__terminal {
        color: white;
        font-size: 3rem;
      }
    }
  }
}

// Media Query for tablet
@media screen and (min-width: 768px) {
  .skills {
    .skills__title-container {
      .skills__title-container__title {
        font-size: $forty;
      }
    }

    .skills__cards {
      row-gap: 6rem;

      .skills__group {
        width: 50%;

        .skills__group__card {
          .skills__group__card__title {
            font-size: $twenty-two;
          }
        }
      }
    }
  }
}

// Media query for desktop
@media screen and (min-width: 1024px) {
  .skills {
    .skills__title-container {
      display: flex;
      justify-content: center;

      .skills__title-container__title {
        font-size: $thirty;
      }
    }

    .skills__cards {
      grid-template-columns: repeat(4, 1fr);

      .skills__group {
        .skills__group__card {
          text-align: center;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .skills {
    .skills__cards {
      justify-content: center;

      .skills__group {
        width: 40.5%;

        .skills__group__card {
          text-align: center;
        }
      }
    }
  }
}
