// fonts sizes
$h2-font: 3rem;
$h3-font: 2.2rem;
$icon-font: 3rem;
$forty: 4rem;
$thirty: 3rem;
$twenty-six: 2.6rem;
$twenty-five: 2.5rem;
$twenty: 2rem;
$twenty-two: 2.2rem;
$sixteen: 1.6rem;
$fifteen: 1.5rem;

// colors
$white: white;
$black: black;

// fonts
$logo-type: 'Lobster Two', cursive;
$title: 'Fjalla One', sans-serif;
$description: 'Noto Sans', sans-serif;

$letter-spacing: 0.2rem;