// fonts sizes
$h2-font: 3rem;
$h3-font: 2.2rem;
$description-font: 2.5rem;
$icon-font: 3rem;
$medium-font: 2rem;
$title-font: 4rem;
$twenty: 2rem;
$twenty-two: 2.2rem;

// colors
$white: white;
$black: black;

// fonts
$logo-type: 'Lobster Two', cursive;
$title: 'Fjalla One', sans-serif;
$description: 'Noto Sans', sans-serif;

$letter-spacing: 0.2rem;