@import '../Variables/Variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  color: white;
  position: fixed;
  width: 100vw;

  .navbar__logo {
    font-family: $logo-type;
  }

  .navbar__menu-icon {
    display: flex;
  }

  .icon {
    font-size: $icon-font;
  }
}

// Media Query
@media screen and (min-width: 1024px) {
  .navbar {

    .navbar__menu-icon {
      display: none;
    }
  }
}