@import '../Variables/Variables.scss';

.footer-container {
    height: 25vh;
    background-color: #9794942b;
    width: 95vw;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer {
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        .footer__logo {
            font-size: $twenty-two;
            font-family: $logo-type;

            .footer__logo__link {
                color: $white;
            }
        }

        .footer__social {
            width: 4rem;
            display: flex;
            justify-content: space-between;

            .footer__social__icon {
                font-size: $eighteen;
                color: $white;
            }
        }
    }
}

// Media query for tablet
@media screen and (min-width: 768px) {
    .footer-container {

        .footer {

            .footer__logo {
                font-size: $twenty-five;
            }

            .footer__social {
                width: 5rem;

                .footer__social__icon {
                    font-size: $twenty;
                }
            }
        }
    }
}

// Media query for desktop
@media screen and (min-width: 1024px) {
    .footer-container {
        height: 20vh;

        .footer {
            flex-direction: row;
            justify-content: space-between;

            .footer__logo {
                font-size: $twenty-five;
            }

            .footer__social {
                width: 6rem;

                .footer__social__icon {
                    font-size: $twenty-two;
                    cursor: pointer;
                }
            }
        }
    }
}