*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 62.5%;
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.app {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    .app__navbar-homepage {
        height: 100vh;
    }

}

.app-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

// Media query
@media screen and (min-width: 1024px) {
    .app-footer {
        margin-bottom: 4rem;
    }
}